* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 300px;
  min-height: 400px;
  background-color: rgba(171, 168, 168, 0.367);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}