.container-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    border-radius: 15px;
    gap: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
}

.container-form h3 {
    font-size: 30px;
}

.container-form input {
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(141, 140, 140);
    font-size: 18px;
}

input::placeholder {
    color: black;
    text-align: left;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.send {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(141, 140, 140);
    font-size: 18px;
}

.send:active {
    transform: scale(0.9)
}

.send:hover {
    font-size: 20px;
}

.errorMessage {
    color: red
}

.users {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    width: auto;
    background-color: rgb(141, 140, 140);
    font-size: 18px;
}

.users:active {
    transform: scale(0.9)
}

.users:hover {
    font-size: 20px;
}

.clearForm {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    width: auto;
    background-color: rgb(141, 140, 140);
    font-size: 18px;

}

.clearForm:active {
    transform: scale(0.9)
}

.clearForm:hover {
    font-size: 20px;
}